#titr {
        
         font-size: 20px;
        transition: all 2s;
     
     }
#titr:hover {
         font-size: 40px;
         color: red;
         font-weight: bold;
         border: 1px solid gray;
     }

.container {
        width: 50%;
        margin:  0 auto;
        .pagestart {
            
                background-image:url('../images/start.gif');
                background-repeat: no-repeat;
                height: 100vh;
                display: flex;
                flex-direction: column;
                   }
        
}
.container1 {
        width: 50%;
        margin:  0 auto;
        border: 1px solid rgb(26, 126, 192);
       
       
}